@import url(https://fonts.googleapis.com/css?family=Monofett);
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: azure;
}
header, section {
    padding: 20px;
}
p, li {
    line-height: 1.5em;
}

#inspiration {
    background-color: #a1c783;
    width: 300px;
    border: 15px solid rgb(20, 96, 20);
    margin: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}