@import url(https://fonts.googleapis.com/css?family=Monofett);
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: azure;
}
header, section {
    padding: 20px;
}
p, li {
    line-height: 1.5em;
}

#inspiration 
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
}

